/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Change font for all <p> elements */
p {
  font-family: 'Lato', sans-serif; /* Change the font */
  font-size: 16px; /* Adjust the size */
  font-weight: normal; /* Change the weight */
  line-height: 1.5; /* Adjust line height */
  color: #333; /* Change the text color */
  margin: 10px 0; /* Add margin */
  padding-bottom: 10px;
}


/* Hero Section */
#hero {
    /*background: url('../images/team/jose_douglas_velasquez.jpg') no-repeat center center/cover;*/
    background: rgba(238, 234, 224);
    height: 100vh;
    /*color: rgba(255, 200, 200);*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header {
    width: 100%;
    position: absolute;
    top: 0;
    justify-content: center;
    align-items: center;
    padding: 20px 20px !important;
    background-color: rgba(255, 255, 255, 0) !important;
}


.hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: rgba(9, 19, 35);
    font-family: 'Lato', sans-serif;
}


.cta-button {
    background-color: #d10000;
    color: white;
    border: none;
    padding: 20px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
}


#services {
    padding: 60px;
    background-color: #f9f9f9;
    text-align: center;
}

#services h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif;
    color: rgba(9, 19, 35);
}

.services-container {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.service-box-1 {
    background-color: rgba(238, 234, 224);
    padding: 20px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-right: 0;
}

.service-box-2 {
    background-color: rgba(238, 234, 224);
    padding: 20px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-box-1 h3, .service-box-2 h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: left;
    color: rgba(9, 19, 35);
    font-family: 'Lato', sans-serif;
}

.service-box-1 p, .service-box-2 p {
    color: rgba(9, 19, 35);
    font-family: 'Lato', sans-serif;
}

.service-box-1:hover, .service-box-2:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


#solutions {
    padding: 50px 20px;
    background-color: #f7f7f7;
    color: #333;
    text-align: left;
    display: flex;
    justify-content: flex-start;
}

.solutions-container {
    display: flex;
    width: 50%; /* Take up only 50% of the screen width */
}

.solutions-list {
    flex: 1;
}


#solutions h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: rgba(9, 19, 35);
    font-family: 'Lato', sans-serif;
}

#solutions p {
    font-size: 1rem;
    color: rgba(9, 19, 35);
    font-family: 'Lato', sans-serif;
}

.solution {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.solution-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 1.1rem;
}

.solution-content {
    display: none;
    padding: 10px 0;
    font-size: 0.95rem;
    color: rgba(9, 19, 35);
    font-family: 'Lato', sans-serif;
}

.toggle-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #b22222;
    cursor: pointer;
}


main {
    flex: 1; /* Allow the main content area to grow */
    /*margin-top: 130px;*/
    padding-left: 5%;
    padding-right: 5%;

}

/* Content Blocks Layout */
.content-block {
    display: flex;
    align-items: center;
    margin: 2rem 0;
}

.content-block .text {
    flex: 1;
    padding: 1rem;
}

.content-block .image {
    flex: 1;
    padding: 1rem;
}

.content-block img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.content-block:nth-child(even) .text {
    order: 2;
}

.content-block:nth-child(even) .image {
    order: 1;
}

.content-block h2 {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.content-block p {
    font-size: 1.25em;
    color: #333;
    margin-bottom: 20px;
}

.button-container {
    margin-top: 10px; /* Adds space between the paragraph and button */
}

.button-link {
    display: inline-block; /* Makes the link behave like a button */
    padding: 10px 20px; /* Adds space around the text */
    background-color: #ffffff; /* Button color */
    color: rgb(139, 98, 58); /* Text color */
    border: none; /* Removes default link styling */
    border-radius: 4px; /* Rounds the corners */
    text-decoration: none; /* Removes underline from the link */
    font-weight: bold; /* Makes the text bold */
    transition: background-color 0.3s; /* Adds a smooth hover effect */
}

.button-link:hover {
    background-color: rgba(54, 54, 54, 0.17); /* Darkens the button on hover */
}

/* Button Styling */
.styled-button {
    background-color: rgba(139, 98, 58); /* Background color */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Optional: rounded corners */
    padding: 10px 20px; /* Space around the text */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size */
    transition: background-color 0.3s; /* Smooth background color change on hover */
}

.styled-button:hover {
    background-color: rgb(54, 54, 54); /* Change background color on hover */
}


/* Modal Content */
.modal-content {
  background-image: url('../images/logo.png'); /* Add your background image */
  background-size: cover; /* Cover the entire modal */
  background-repeat: no-repeat;
  background-position: center;
  margin: 2% auto; /* Centered */
  padding: 20px;
  border: 1px solid #888; /* Remove border */
  border-radius: 10px; /* Optional: add border radius for rounded corners */
  width: 90%; /* Width can vary based on screen size */
  height: 90%; /* Height will adjust based on content */
  overflow: hidden; /* Enable scroll if needed */
  display: flex; /* Use flexbox to center content */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

/* Close Button */
.close {
   color: #aaa;
   float: right;
   font-size: 28px;
   font-weight: bold;
}

.close:hover,
.close:focus {
   color: black;
   text-decoration: none;
   cursor: pointer;
}


footer {
    background-color: #f1f1f1; /* Light gray background */
    padding: 0; /* Space around the content */
    text-align: center; /* Center the text */
}

.footer-content {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
}

.footer-logo {
    display: flex;
    align-items: center; /* Center logo and text vertically */
}

.footer-logo img {
    margin-right: 1px; /* Space between logo and name */
    margin-bottom: 0; /* Space below the logo */
    margin-left: 1px; /* Space to the left of the logo */
}

.footer p {
    margin: 2px 0; /* Space between paragraphs */
    font-family: 'Lato', sans-serif; /* Change to desired font */
    /*font-weight: bold;*/
}

.footer-content span {
    font-size: 0.8em; /* Adjust font size */
    color: #666; /* Light gray text color */
    font-family: 'Lato', sans-serif; /* Change to desired font */
    font-weight: bold;
}

.footer-links {
    display: flex;
    justify-content: center; /* Center the links horizontally */
    /*margin-top: 10px; !* Space above the links *!*/
    padding: 10px; /* Space around the links */
    margin: 0 30px; /* Add space between each link */

}


/*
    Team Cards
*/

.pro-titles {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #333;
    margin-top: 150px;
    margin-bottom: 20px;
}

.team-container {
    display: flex;                     /* Use flexbox for horizontal alignment */
    flex-direction: row;              /* Align cards in a row */
    justify-content: center;          /* Center cards horizontally */
    flex-wrap: nowrap;                /* Prevent cards from wrapping to the next line */
    overflow-x: auto;                 /* Allow horizontal scrolling if needed */
    gap: 20px;                        /* Space between cards */
    padding-left: 20px;               /* Optional: add padding around the container */
    padding-right: 20px;              /* Optional: add padding around the container */
    margin-top: 5px;                 /* Add space above the container */

}

.team-card {
    width: 250px; /* Adjust width as needed */
    height: 350px; /* Adjust height as needed */
    background-color: rgba(238, 234, 224);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Image within each Team Card */
.team-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; /* Ensures images fit without distortion */
    margin: 0 auto 15px;
}

/* Team Title */
.team-container h1 {
    margin-bottom: 20px; /* Adjust this value for desired space */
    text-align: center;   /* Center the title */
}

/* Team Member Name */
.team-card h2 {
    font-size: 1.25rem;
    margin: 10px 0;
}

/* Team Member Title */
.team-card p {
    font-size: 1rem;
    color: #666;
}

/* View Profile Link */
.team-card a {
    color: rgb(139, 98, 58);
    text-decoration: none;
    font-weight: bold;
    margin-top: auto;
}


/* Responsive Header Styles */
@media (max-width: 768px) {
    .team-container {
        flex-wrap: wrap !important;              /* Allow wrapping on smaller screens */
        justify-content: space-between !important; /* Space out cards when wrapping */
        margin-top: 10px !important;              /* Add space above the container */
    }
    .team-card {
        width: calc(50% - 10px) !important;     /* Two cards per row on medium screens */
    }

    .content-block {
        flex-direction: column !important;
    }

    .content-block h2 {
        font-size: 1em !important;
    }

    .content-block .image, .content-block .text {
        order: initial;
    }
    .footer-content {
        flex-direction: column !important;
    }
    .footer-content p {
        margin: 5px 0 !important;
    }
    .footer-content span {
        margin: 5px 0 !important;

    }
    .pro-titles {
    text-align: center !important;
    font-size: 2em !important;
    font-weight: bold !important;
    color: #333 !important;
    margin-top: 110px !important;
    margin-bottom: 5px !important;
    }

    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service-box-1, .service-box-2 {
        width: 80%; /* Make the boxes wider for smaller screens */
        margin: 10px 0; /* Add spacing between service boxes */
    }

    .solutions-container {
        width: 100%; /* Make solutions container full-width */
        padding: 20px;
    }
}

@media (max-width: 480px) {
    .content-block h2 {
        font-size: 1em;
    }
    .content-block p {
        font-size: 0.8em;
    }
    .team-card {
        width: calc(100% - 10px) !important;    /* One card per row on small screens */
    }
        #services h2, #solutions h3 {
        font-size: 1.5rem; /* Smaller font size for titles */
    }

    .service-box-1 h3, .service-box-2 h3 {
        font-size: 1.8rem; /* Reduce the heading font size */
    }

    .solution-header {
        font-size: 1rem; /* Smaller font for solution headers */
    }

    .solutions-container {
        padding: 10px; /* Reduce padding for smaller screens */
    }

    .solution {
        padding: 10px 0; /* Adjust padding between solutions */
    }
}